/* Empty. Add your own CSS if you like */
img{
	max-width: 100%
}

.scroll-content{
	background-color: #f0f1f3;
}

.article-content{
    background: #fff;margin: .5rem;padding: 1rem .5rem;color: #656e7f;
    font-size: 1rem;line-height: 1.5rem;
}

.article-content a{
    color: #f45145;
    text-decoration: underline;
}
.article-content h1{
    font-size: 1.6rem;color: #656e7f;text-align: center;
}
.article-content h2{
    font-size: 1.4rem;color: #656e7f;
}
.article-content h3{
    font-size: 1.2rem;color: #656e7f;
}
.article-content blockquote{
    border-left: 2px solid #eee;padding: .5rem 0 .5rem 1rem;margin-top: 1rem;
}
.article-content blockquote p{
    font-size: 1rem;
}
.article-content ul{
    list-style: disc;margin-left: 20px;font-size: 0.9rem;line-height: 1.2rem;
}
.article-content ol{
    list-style: decimal;margin-left: 20px;font-size: 0.9rem;line-height: 1.2rem;
}